<h1>HandBreak Dashboard</h1>
<hr />
<table>
    <thead>
    <tr>
        <td>Host</td>
        <td>Status</td>
        <td>Status String</td>
        <td>Current Encode</td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{host}}</td>
            <td><span class="{{status}}"></span></td>
            <td>{{status}}</td>
            <td>{{currentEncode}}</td>
        </tr>
        {{#each peerStatuses}}
            <tr>
                <td>[PEER] - {{this.hostname}}</td>
                <td><span class="{{this.status}}"></span></td>
                <td>{{this.status}}</td>
                <td>{{this.currentEncode}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
